/*
Error: Invalid CSS after "            color:": expected expression (e.g. 1px, bold), was ";"
        on line 406 of sass/_globals.scss
        from line 3 of sass/main.scss

401:         }
402:         &.twitter{
403:             color:#1cb7eb;
404:         }
405:         &.google-plus{
406:             color:;
407:         }
408:     }
409: }
410: 
411: .scroll-cue{

Backtrace:
sass/_globals.scss:406
sass/main.scss:3
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:1207:in `expected'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/script/lexer.rb:229:in `expected!'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/script/parser.rb:710:in `assert_expr'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/script/parser.rb:75:in `parse'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:1063:in `sass_script'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:909:in `value!'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:778:in `block in try_declaration'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:1183:in `call'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:1183:in `rethrow'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:791:in `try_declaration'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:720:in `declaration_or_ruleset'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:685:in `block_child'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:674:in `block_contents'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:666:in `block'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:735:in `declaration_or_ruleset'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:685:in `block_child'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:677:in `block_contents'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:666:in `block'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:735:in `declaration_or_ruleset'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:685:in `block_child'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:677:in `block_contents'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:666:in `block'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:658:in `ruleset'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:684:in `block_child'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:677:in `block_contents'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:125:in `stylesheet'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:41:in `parse'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/engine.rb:406:in `_to_tree'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/engine.rb:312:in `to_tree'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:326:in `block in visit_import'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:88:in `block in with_import'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:88:in `with_import'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:331:in `block in watch'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/vendor/listen/lib/listen/adapter.rb:254:in `call'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"            color:\": expected expression (e.g. 1px, bold), was \";\"\A         on line 406 of sass/_globals.scss\A         from line 3 of sass/main.scss\A \A 401:         }\A 402:         &.twitter{\A 403:             color:#1cb7eb;\A 404:         }\A 405:         &.google-plus{\A 406:             color:;\A 407:         }\A 408:     }\A 409: }\A 410: \A 411: .scroll-cue{"; }
